<html>
    <head>
    <style>
        .messages{
        color: green;
    }
    </style>
    </head>
<body>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<h2>This is the Index Page</h2>

<h3>Blogs</h3>
{% for i in entries %}
<li>
    {{i.title}}

<a href="{% url 'edit' i.id%}">Edit</a>
<a href="{% url 'remove' i.id%}">Remove</a>
<a href="{% url 'transfer' i.id%}">Transfer</a>



</li>
{% endfor %}
</body>
</html>
